# Server Configuration
PORT=3001

# JWT Configuration  
JWT_SECRET=your-super-secret-and-long-key-that-is-hard-to-guess

# MongoDB Database Configuration
# Local MongoDB:
DATABASE_URL="mongodb://localhost:27017/express_generic_repo_api"

# Or MongoDB Atlas (Cloud):
# DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/express_generic_repo_api"

# Development/Production Environment
NODE_ENV=development